body {
    min-width: 1200px; 
    max-width: 1450px; 
    margin: 0 auto; 
}

header {
    width: 100%;
}

.navbar {
    width: 100%;
}

.container {
    background-color: rgb(227, 255, 235);
    min-width: 1300px; 
    max-width: 1450px; 
    display: flex; 
    position: relative;
    align-items: center; 
    flex-direction: row;
}

#logo_img {
    width: 150px; 
    height: auto; 
    margin-left: 20px;
}

.navbar-nav {
    display: flex !important;
    flex-direction: row !important;
    gap: 20px !important;
    position: absolute;
    left: 230px;
    top: 40px;
}


.navbar-nav .nav-link {
    white-space: nowrap; 

}

.content-box {
    text-align: center;
    padding: 20px;
    position: relative;
}

.about_menu{
    box-sizing: border-box;
    width: 220px;
    display: flex !important;
    flex-direction: row !important;
    margin: 0 auto;
    background-color: rgb(222, 222, 222);
}

.content-box header h1 {
    margin: 10px 0;
    margin-top: 100px;
}

.content-box p{
    margin: 30px auto 30px auto;
    max-width: 850px; 
    word-wrap: break-word;
    
}

#map {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    margin-bottom: 40px;
}

footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
}

#foot ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#foot ul li {
    display: inline;
    margin: 0 10px;
}

#foot ul li a {
    color: #000;
    text-decoration: none;
}
